/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;color:white;
  text-align: center;
  font-size: 30px;
  font-color: #222223;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Droid Serif', serif;
}

.map {
background-size: cover;
align-items: right;
margin-top: 20px;

}

.fa-picture-o {
    color: #F29918;
    font-size: 360px;
    margin-top: 40px;
    position: absolute;

}
.fa-picture-o:hover,
.fa-picture-o:focus {
  transform: scale(1.2);
  box-shadow: 0 0 65px #E4E4E4 inset, 0 0 20px #E4E4E4 inset, 0 0 15px #E4E4E4;
}




.fa-camera-retro {
    color: #F29918;
    font-size: 360px;
    margin-top: 40px;
    position: absolute;
}

.fa-camera-retro:hover,
.fa-camera-retro:focus {
  transform: scale(1.2);
  box-shadow: 0 0 65px #E4E4E4 inset, 0 0 20px #E4E4E4 inset, 0 0 15px #E4E4E4;
}

.carousel-inner {
     height: 400px;


}

.block {
  background-color: #E4E4E4;
  margin-top: 0px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}



.fa-facebook {
  font-size: 50px;
  margin-top: 20px;
  margin-right: 20px;
}
.fa-twitter {
  font-size: 50px;
  margin-right: 20px;
}
.fa-instagram {
  font-size: 50px;
}


.tabs {
 background: #E4E4E4 ;
 display: flex;
 padding: 0px 299px 0px;
}

.tabs h3 {
 font-size: 16px;
 font-weight: bold;
 margin-top: 0;
}

.tab {
 background: #20231D;
 flex: 0 0 55%;
 text-align: center;
 padding: 14px 0;

}

.tab.active {
 background: white;
 color: black;
 flex: 0 0 47%;

}


.last-pois {
  padding: 30px 0 60px;
}

.last-pois-title {
  margin-bottom: 20px;
}

.banner-home {
  display: flex;
  background: #333832;
  .banner-home-title {
    flex-basis: 440px;
    padding: 0 20px;
    align-self: center;
    color: white;
  }
  .banner-carousel {
    flex-grow: 1;
  }
  .banner-tagline {
    color: #9a9a9a;
  }
}
