.button-wall {
  display: inline-block;
  border-radius: 4px;
  background-color: #C0C0C0;
  border: none;
  color: #GGGGG;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 210px;
  height: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-wall span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-wall span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-wall:hover span {
  padding-right: 25px;
}

.button-wall:hover span:after {
  opacity: 1;
  right: 0;
}
