<%= link_to pois_path do %>
  <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path("pont-de-pierre_mmshvl.jpg", :height=>250, :width=>250, :crop=>"scale") %>);">
    <div class="card-description-home">
      <h2>Index</h2>
    </div>
  </div>
<% end %>
