 <footer>

<p><strong> Visum est un site qui vous permet de trouver près de chez vous
  des lieux insolites dont vous n'avez jamais entendu parler et de pouvoir les partager
  avec le monde entier. D'après une idée de Murielle étudiante au Wagon.</strong></p>

</footer>
