<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="row">
  <div class="col-sm-8">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=asset_path 'background.jpg'%>);">
            <h2>Bordeaux visum</h2>
             <p>Vivez et partagez une nouvelle expérience de Bordeaux à 360°</p>
          </div>

    <%= link_to "LE MUR D'IMAGE", pois_path %>
</div>

<div class="col-sm-4">
     <div id="map" style="width: 100%; height: 600px;"></div>

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        <% end %>
      <% end %>


    </div>
</div>

