.poi {
  padding: 0 30px;
  .poi-title {
    margin: 0;
  }

  .poi-category {
    margin-bottom: 10px;
  }

  .poi-caption {
    margin: 0;
    margin-top: 5px;
  }
  .poi-meta {
    width: 200px;
    text-align: right;
    padding-top: 10px;
  }
  .poi-rating {
    margin-top: 10px;
  }
}


.poi-map {
  margin: 40px 0;
}
